* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.head {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    margin: 0 60px;


}

.head>div {
    line-break: auto;
    border: 2px dotted green;


}

header>.link {
    flex-grow: 1;
    text-align: center;
}



header {

    background-color: black;
}

.boxes {
    display: flex;
    border: 2px solid black;
    width: 100%;
    height: 300px;
    background-color: white;
    justify-content: center;
    padding-top: 30px;

}

.box1 {
    width: 40%;
    height: 40%;
    background-color: rgb(80, 80, 164);
}

.box2 {
    width: 20%;
    height: 40%;
    background-color: salmon;
}